<nav class="navbar navbar-expand-lg navbar-dark bg-dark-accent fixed-top shadow-lg">
    <div class="container">
        <a class="navbar-brand stylish-brand" href="/">
        MALIK DOWN</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link <%= currentPath === '/' ? 'active' : '' %>" href="/"><i class="fab fa-tiktok"></i> TikTok</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= currentPath === '/tiktok-slide' ? 'active' : '' %>" href="/tiktok-slide"><i class="far fa-images"></i> TikTok Slide</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= currentPath === '/spotify' ? 'active' : '' %>" href="/spotify"><i class="fab fa-spotify"></i> Spotify</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= currentPath === '/instagram' ? 'active' : '' %>" href="/instagram"><i class="fab fa-instagram"></i> IG/FB</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= currentPath === '/youtube' ? 'active' : '' %>" href="/youtube"><i class="fab fa-youtube"></i> YouTube</a>
                </li>
            </ul>
        </div>
    </div>
</nav>